.tentangkamiLayanan{
    width: 14rem;
    position: fixed;
    overflow: hidden;
    top: 170px;
    list-style: none;
    text-align: start;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
}

.tentangkamiLayanan-cms{
    width: 12.5rem;
    position: fixed;
    overflow: hidden;
    top: 80px;
    list-style: none;
    text-align: start;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
}

.tentangkamiLayanan:hover .submenuitem{
    transition: all .5s, background 2s .5s linear;
}

.tentangkamiLayanan li {
    cursor: pointer;
}

.tentangkamiLayanan li a{
    color: #263159;
}

.tentangkamiLayanan li a:hover{
    /* color: white; */
    color: #8293d1;
}

.tentangkamiLayanan li:hover {
    
    border-radius: 5px;
    transition: 0.5s;
}

.tentangkamiClicked {
    display: none;
}

.submenuitem {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 510px){
    .tentangkamiLayanan{
        top: 410px;
    }
}
.tentangkami{
    width: 12.5rem;
    position: fixed;
    overflow: hidden;
    top: 170px;
    list-style: none;
    text-align: start;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
}

.tentangkami:hover .submenuitem{
    transition: all .5s, background 2s .5s linear;
}

.tentangkami li {
    cursor: pointer;
}

.tentangkami li a{
    color: #263159;
}

.tentangkami li a:hover{
    color: #8293d1;
}

.tentangkami li:hover {
    border-radius: 5px;
    transition: 0.5s;
}

.tentangkamiClicked {
    display: none;
}

.submenuitem {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 510px){
    .tentangkami{
        top: 362px;
    }
}
