.container-jadwal{
    margin-top: 100px;
    margin-bottom: 50px;
}

.day-jadwal p {
    background-color: #D1E8E4;
    font-size: 18px;
    margin: 20px;
    width: 50%;
    padding: 10px ;
    text-align: center;
    box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 40%);
    color: #263159;
}

.day-jadwal {
    display: flex;
    justify-content: center;
    word-spacing: 350px;
}

.day-jadwal p:hover {
    background-color: #263159;
    color: #D1E8E4;
    transition: 0.5s;
    cursor: pointer;
}
