.contain{
    padding: 100px ;
    justify-items: center;
        
} 

.dr {
    display: flex;
    padding: 10px;
}

.dr img {
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description {
    padding: 10px 40px;
}

.description p{
    /* padding-bottom: 10px; */
}

.jadwal {
    display: flex;
}

.jadwalP p{
    /* background-color: #263159; */
    width: 160px;
}

.day {
    display: flex;
}

.dayy{
    display: flex;
    margin-right: 10px;
}

.timee{
    display: block;
}

.des p {
    border-radius: 20px;
    border: 1px solid #cdd3eb;
    /* color: #263159; */
    padding: 2px 6px;
    margin: 4px;
    text-align: center;
}

.day p:hover{
    background-color: #263159;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.des2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.des span{
    font-size: 13px;
    font-weight: 500;
    color: #263159;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* padding-left: 14px; */
}

.hr1{
    /* padding-top: 2px; */
}

.description h2{
    color: #263159;
}

@media screen and (max-width: 768px){
    .contain{
        /* width: 200px; */
        /* height: 200px; */
        display: flex;
        flex-wrap: wrap;
    }

}