.contain{
    padding: 100px ;
    justify-items: center;
        
} 

.dr {
    display: flex;
    padding: 10px;
}

.dr img {
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description {
    padding: 10px 40px;
}

.description p{
    padding-bottom: 10px;
}

.jadwal {
    display: flex;
}

.jadwalP p{
    /* background-color: #263159; */
    width: 160px;
}

.day {
    display: flex;
}

.dayy{
    display: flex;
}

.timee{
    display: block;
}

.day p {
    border-radius: 20px;
    border: 1px solid #263159;
    padding: 6px 3px;
    margin: 2px;
    text-align: center;
}

.day p:hover{
    background-color: #263159;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.day span{
    font-size: 11.5px;
    padding-left: 14px;
}

.hr1{
    padding-top: 2px;
}

.description h2{
    color: #263159;
}

@media screen and (max-width: 768px){
    .contain{
        /* width: 200px; */
        /* height: 200px; */
        display: flex;
        flex-wrap: wrap;
    }

}