* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.head-content {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;

}

.header-top {
    background-color: #fff;
    border: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px;
    margin: 0px auto;
    /* position: sticky;
    top: 0; */
}

.header-top h6 {
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    font-weight: 400;
    padding: 7px 0px;
    /* font-family: "Roboto", sans-serif; */

}

.header-top span {
    font-size: 15px;
    line-height: 26px;
    color: rgb(192, 9, 9);
    font-weight: 500;
    padding: 7px 0px;
    /* font-family: "Roboto", sans-serif; */

}

/* HEAD_ICON */



.head {
    background-color: #fff;
    padding: 0px 140px 0px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    /* position: relative; */
    /* z-index: 9999; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* position: sticky;
    top: 0; */
}

.contact-item {
    position: relative;
    display: inline-flex;
    /* padding-left: 50px; */
    margin-right: 20px;
}

.icon-box {
    /* position: absolute; */
    /* top: 0px;
    left: 0px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    text-align: center;
    line-height: 57px;
    border: 1px solid #5ec5cc; */
    /* color: #2CB9CC; */
    display: flex;
    justify-content: center;
}

.icon-box a {
    color: #5ec5cc;
    margin-right: 22px;
    font-size: 22px;
    width: 52px;
    height: 52px;
    /* padding: 5px 10px; */
    border-radius: 50px;
    border: 1px solid #5ec5cc;
    text-align: center;
    padding: 14px 20px 2px 14px;
}

.item-box {
    padding-top: 5px;
}

.head_icon {
    display: flex;
    margin: 10px;
    /* flex-direction: row; */

}

.icon {
    margin-bottom: 0;
}

.desc {
    color: #2CB9CC;
    font-size: 15px;
    padding: 0px 5px;
    margin-bottom: 0;
}

.desc2 {
    color: #263159;
    padding: 0px 5px;
    font-size: 13px;
    width: 100%;
    margin-bottom: 0;
}

.desc3 {
    color: RED;
    padding: 0px 5px;
    font-size: 13px;
    width: max-content;
}

.active-link {
    color: red;
}

header {
    background-color: #2CB9CC;
    /* position: sticky; */
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 2rem;
    /* background-color: #2CB9CC; */
    color: #fff;
}

.navItems a {
    margin: 0 2rem;
    color: #fff;
    text-decoration: none;
}

.navItem {
    display: flex;
    align-items: center;
    height: 80px;
    list-style-type: none;

}

.navItem a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;

}

.navItem-cms a {
    text-decoration: none;
    color: #263159;
    display: flex;
    align-items: center;
    gap: 4px;

}

.navItem-cms a:hover {
    color: black
}

.navItem li:hover::after,
.navItem li.active-link::after {
    color: #c5f0f5;
    font-weight: 400;
}


nav a:hover {
    color: #c5f0f5;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media screen and (max-width: 510px) {
    .head {
        flex-wrap: wrap;
        display: flex;
    }

    .icon {
        display: flex;
        margin-top: -20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .icon li {
        padding-top: 70px;
        padding: 10px;
    }

    .logo {
        justify-content: center;
        display: flex;
    }

    header .nav-btn {
        visibility: visible;
        opacity: 1;
        align-items: center;
        display: flex;
    }

    .navItems {
        flex-direction: column;
    }

    .navItem {
        height: 5vh;
    }

    header nav {
        /* position: fixed; */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #2CB9CC;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1rem;
    }


}