.wrapper {
    padding: 70px 15px;
    opacity: 0.8;
    text-align: center;
}

.banner_1{
    /* background-image: url('./gallery/pict1.png'); */
    /* opacity: 0.6; */
    
}

.judul{
    text-align: center;
    padding-bottom: 100px;
}

.text h1{
    text-align: center;
    
}

.text p{
    padding: 30px 30px 10px;
    color: #263159;
    padding: 30px;
}

.text img {
    padding: 30px 30px 10px;
    display:block;
    margin:auto;
    width: 50%;
}