* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

h2 {
    font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* HERO */

.beranda-container {
    /* padding-top: 168px; */
}

.hero-beranda {
    /* position: relative; */
    height: 500px;
    /* overflow: hidden; */
    background: url("../../assets/gallery/pict1.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.container-beranda {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: #263159; */
    /* max-width: 500px; */
    justify-content: flex-start;
    align-items: center;
    padding: 13rem 2rem;
    color: #263159;
}

.container-beranda h1 {
    text-align: start;
    font-size: 57px;
    font-family: 'Yeseva One';
}

.more-beranda a {
    background-color: #263159;
    padding: 9px 30px;
    margin: 10px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: 6px;
}

.more-beranda a:hover {
    background-color: #161c31;
    transition: 0.5s;
}

/* SLIDER */
.container {
    width: 700px;
    height: 390px;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    margin: 350px auto;
    margin-bottom: 0px;
}

.containerStyles {
    width: 700px;
    height: 400px;
    margin: 0px auto;
    margin-bottom: 62px;
    margin-top: 20px;
}

.containerStyles h2 {
    font-size: 30px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 30px;
    color: #263159;
    text-align: center;
    /* align-items: center; */
    justify-items: center;
    display: flex;
    font-weight: 700;
}

.container-slide {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 480px;
    margin: 0 auto;
}

.container-slides {
    display: flex;
    transition-duration: 500;
    transition: ease-out;

}

.arrow {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.button-arrow {
    padding: 1px;
    height: 43px;
    border-radius: 9999px;
    color: #161c31;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.slides {
    position: absolute;
    bottom: 4px;
    right: 0px;
    left: 0px;
}

.slides-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.img {
    transition-property: all;
    border-radius: 9999px;
}

.slidess {
    padding: 10px;
}

.img-sld {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* KEUNGGULAN */

.title-fasilitas h5 {
    color: #2CB9CC;
    font-family: 'Yeseva One';
    font-size: 18px;
    text-align: center;
}

.title-fasilitas h2 {
    color: #263159;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    font-weight: 700;
}

.fasilitas {
    padding-top: 130px;
}

.box-fasilitas {
    margin: 30px;
}

.container-fasilitas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: -10px; */
}

.keunggulan {
    height: 350px;
    width: 350px;
    background-color: #D1E8E4;
    border-radius: 5%;
    /* margin: 30px auto; */
    margin-bottom: 80px;

}

.box-fasilitas:hover .keunggulan {
    background: linear-gradient(to bottom right, #3cbbcc, #1a6c76);
    color: #D1E8E4;
    cursor: pointer;
    transition: 0.5s;
}

h2 {
    font-weight: 800;
}

.keunggulan h2 {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #263159;
    font-weight: 700;
}

.box-fasilitas:hover .keunggulan h2 {
    color: #D1E8E4;
    transition: 0.5s;
}

.keunggulan p {
    text-align: center;
}

.keunggulan-img {
    display: flex;
    justify-content: center;
}

.keunggulan-img img {
    /* padding-left: 100px; */
    /* align-items: center; */
    padding-top: 25px;
    width: 45%;
    /* justify-content: center; */
}

.fasilitas_detail {
    padding-left: 35px;
}

.fasilitas_detail a {
    background-color: #2CB9CC;
    padding-left: 20px;
    padding: 6px 20px;
    margin: 10px;
    color: #D1E8E4;
    border-radius: 10%;
    text-decoration: none;
    display: flex;
    max-width: max-content;
    align-items: center;
    gap: 5px;
}

.box:hover .fasilitas_detail a {
    color: #263159;
    cursor: pointer;
    background-color: #D1E8E4;
    transition: 0.3s;
}

/* Whatsapp */

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* button */
.btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}




/* EDUKASI */